body{
    background-color: beige;
    margin: 0;
    padding: 0;
}

img{
    height: 60%;
    width: 100%;
    position: absolute;
    left: 150px;
}

.img-mother{
    height: 700px;
    width: 100%;
    position: relative;
    
}
.descrition{
    font-size: x-large;
    margin-right: 60px;

}

.wrapper{
    display: grid;
    grid-template-columns: 30% 70%;
    padding-top: 5vh;
}


